# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/frontend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# Build Folders
/backend/bin
/backend/obj

# User-specific Files
/backend/.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
/backend/*.log

# Visual Studio Files
/backend/.vs/
.backend/.resharper/
*.sln.ide

# NuGet
/backend/packages/
*.nupkg
/backend/project.lock.json
/backend/project.fragment.lock.json

# .NET Core
/backend/project.lock.json
/backend/project.fragment.lock.json
/backend/artifacts/

# Rider IDE files
/backend/.idea/

# macOS specific
.DS_Store

# Environment and Config
/backend/*.env
/backend/appsettings*.json